.inicio_1 {
    display: grid;
    place-items: start; /* coloca contenido al inicio (arriba) */
    height: 100vh;      /* ocupa toda la pantalla */
    padding: 20px;      /* opcional: separa del borde superior */
    background-color: aliceblue;
}

.titulo {
    color: rgb(255, 255, 255);
    font-family: fantasy;
    font-size: 64px;
}

.body2 {
    background-color: aqua;
}